{% extends 'base.html' %}

{% block content %}
<br><br><br>
<form class="col-6 mx-auto card p-3 shadow-lg" method="POST">
    {% csrf_token %}
    
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <h2>Register</h2>
    <br>
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-primary">Register</button>
    
    <p><a href="{% url 'myapp:login' %}">Already have an account? Login</a></p>
</form>
{% endblock %}
