<form class="d-flex mx-auto" role="search" action="{%url 'myapp:search'%}" method="get">
    {% csrf_token %}
    <!-- <input class="form-control me-2" type="search" placeholder="Search" name="r" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button> -->
  </form>
  {% if data %}
  <ul>
    {% for category in data %}
      <li>{{ category.name }}</li>
      {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width: 100px;">
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>No categories found</p>
  {% endif %}
